.section-divider {
  border-right: 1px solid #ddd;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
}

.max-width-card {
  max-width: 600px; /* Adjust the value to your desired maximum width */
  margin-left: auto;
  margin-right: auto;
}
.gradient-headline {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 96, 1) 32%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
